.footer_area {
    background: url('../img/footer_bg.png');
    @include bg;

    .footer_top {
        padding: 130px 0px 90px;

        .top_heading {
            position: relative;
            margin-bottom: 50px;

            &::after {
                position: absolute;
                left: 50%;
                top: 50%;
                content: "";
                height: 1px;
                width: 645px;
                background-color: $border_c;
                transform: translate(-50%, -50%);
            }

            .social {
                
                a{
                    padding-left: 10px;
                    svg {
                        path {
                            fill: $c_white_gray;
                        }
                    }
                }
            }
        }

        .widget_area {
            color: $c_white;

            h6 {
                font-size: 20px;
                padding-bottom: 15px;
                line-height: 30px;
            }

            p {
                color: $c_white_gray;
                padding-bottom: 40px;

                &:last-child {
                    padding-bottom: 0px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    a {
                        color: $c_white_gray;
                        padding-bottom: 10px;
                        display: block;
                    }
                }
            }
        }

        .quick_link {
            padding-left: 98px;
        }

        .border_r {
            border-right: 1px solid $border_c;
        }

        .address {
            max-width: 200px;
        }

        .email_address {
            padding-left: 98px;

            p {
                padding-bottom: 5px;
            }
        }

    }

    .footer_bottom {
        border-top: 1px solid $border_c;
        padding: 40px 0px;

        .footer_bottom_wrapper {
            p {
                color: $c_white_gray;
                max-width: 280px;

                span {
                    color: $c_yellow;
                }
            }

            display: flex;
            align-items: center;
            justify-content: space-between;

            .bottom_menu {
                ul {
                    li {
                        a {
                            color: $c_white_gray;
                            font-size: 15;
                            text-transform: uppercase;
                            padding-right: 17px;
                            margin-right: 15px;
                            position: relative;

                            &::after {
                                position: absolute;
                                right: 0;
                                top: 50%;
                                content: "";
                                background: $c_white_gray;
                                height: 15px;
                                width: 2px;
                                transform: translate(-50%, -50%);
                            }

                           
                        }
                        &:last-child a::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}