.team_section {
    .team_header {
        position: relative;
        margin-bottom: 50px;

        h3 {
            max-width: 602px;
        }

        .arrow {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0%, -50%);
        }


    }

    .all_team {

        .single_team {
            padding: 15px;


            .image {
                width: auto;
                height: 420px;
                border-radius: 20px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            &:nth-child(even) .image {
                width: auto;
                height: 480px;
            }

            .bottom {
                max-width: 244px;
                margin: 0 auto;

                .designation {
                    padding-top: 30px;
                    padding-bottom: 20px;
                }

                .social {
                    ul {
                        li {
                            margin-right: 13px;

                            a {
                                padding: 5px;
                                svg{
                                    transition: $transition;
                                    path{
                                        fill: $c_black;
                                        transition: $transition;
                                       
                                    }
                                    &:hover path{
                                        fill: $blue;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}