// font family 
$font_body: "DM Sans", sans-serif;
$font_heading: "Federo", sans-serif;

//  font size  
$font_18: 18px;
$f_110: 110px;
$f_80: 80px;
$h_md: 57px;


// variable
  // -- $color
$c_black:#0A0E1A;
$c_black_grey:#57595C;
$c_white:#ffffff; 
$c_white_gray:#B1B4BA; 
$white_gray_text:#4C5F84; 
$yellow_light:#FBF6EF; 
$c_yellow:#FFE815; 
$c_yellow_d:#E5CF00; 
$border_c: #2F323B;
$blue:#0057FC;
$blue_light:#71A2FF;


$transition: all .3s ease;